
<header class="header transition" [ngStyle]="{'background-image' : background}">

    <!-- Desktop -->
    <nav class="navigation">
        <img src="assets/img/logo_vert.png" alt="Logo Zeste cuisine du jardin" class="transition">
        <ul>
            <li><a routerLink="/" routerLinkActive="active">Accueil</a></li>
            <li><a routerLink="/prestations" routerLinkActive="active">Prestations</a></li>
            <li><a routerLink="/lateteetlesmains" routerLinkActive="active">La tête et les mains</a></li>
        </ul>
    </nav>

    <h1>
        <span id="title"> ZESTE </span> 
        <br> 
        <span id="subtitle">cuisine du jardin</span>
    </h1>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="wave">
        <path fill="white" fill-opacity="1" d="M0,288L48,288C96,288,192,288,288,272C384,256,480,224,576,218.7C672,213,768,235,864,240C960,245,1056,235,1152,229.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
</header>

<!-- Reponsive -->
<div id="menu">
    <div id="menu-bar" onclick="menuOnClick()">
        <div id="bar1" class="bar"></div>
        <div id="bar2" class="bar"></div>
        <div id="bar3" class="bar"></div>
    </div>
    <nav class="nav" id="nav">
        <ul>
            <li><a routerLink="/" routerLinkActive="active">Accueil</a></li>
            <li><a routerLink="/prestations" routerLinkActive="active">Prestations</a></li>
            <li><a routerLink="/lateteetlesmains" routerLinkActive="active">La tête et les mains</a></li>
        </ul>
    </nav> 

    
</div>
  
<div class="menu-bg" id="menu-bg"></div>

