<app-header [background]="background"></app-header>

<div class="mentionsContainer">
    <h3>MENTIONS LÉGALES</h3>

    <p>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans
        l’économie numérique, il est précisé aux utilisateurs du site l’identité des différents
        intervenants dans le cadre de sa réalisation et de son suivi :</p>

    <ul>
        <li>Propriétaire : Zeste - Manon THOMINES-MORA (Entrepreneure Individuelle)</li>
    </ul>

    <p>SIRET : 79836000400021</p>
    <p>57 rue Calmette 14120 Mondeville</p>
    <p>contact@zestecuisine.fr</p>
    <p>06 03 77 92 34</p>

    <ul>
        <li>Responsable publication : Manon THOMINES-MORA - contact@zestecuisine.fr</li>
        <li>Webmaster : Andrew MAHE</li>
        <li>Hébergeur : OVH – 2 rue Kellermann 59100 ROUBAIX</li>
    </ul>

    <p>Si vous souhaitez nous poser des questions d’ordre général sur notre site web ou modifier
        vos informations personnelles, veuillez nous contacter par mail à l’adresse
        contact@zestecuisine.fr</p>

    <h5>TRAITEMENT DES DONNÉES PERSONNELLES</h5>

    <p>Ce site n’utilise pas de cookies et ne collecte pas les données personnelles des
        utilisateur.ice.s.
        Vous êtes susceptible de fournir des informations personnelles lorsque vous contactez
        Zeste. Les informations collectées (nom, adresse mail, numéro de téléphone et autres
        informations obligatoires pour le traitement de votre commande) ne sont pas utilisées à des
        fins commerciales.
        Droits d’accès à vos informations personnelles
        Vous avez le droit :</p>

    <ul>
        <li>D’accéder à vos informations personnelles ;</li>
        <li>De vous désabonner de nos opérations marketing ou de retirer tout consentement
            que vous nous aviez donné ;</li>
        <li>De demander un exemplaire des informations personnelles traitées par nos soins ;</li>
        <li>D’exiger la correction ou la suppression de vos informations personnelles.</li>
    </ul>

    <p>Pour exercer l’un des droits listés ci-dessus, vous pouvez nous contacter par email :
        contact@zestecuisine.fr ou par courrier en écrivant au 57 rue Calmette 14120 Mondeville.
        Veuillez indiquer vos nom, adresse e-mail, adresse postale et numéro de téléphone, ainsi
        que votre demande précise.</p>

    <h5>CONDITIONS GÉNÉRALES D’UTILISATION DU SITE</h5>

    <p>L’utilisation du site implique l’acceptation pleine et entière des conditions générales
        d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées
        ou complétées à tout moment. Les utilisateur.ice.s du site sont donc invité.e.s à les consulter
        de manière régulière.
        Ce site est normalement accessible à tout moment aux utilisateur.ice.s. Une interruption
        pour raison de maintenance technique peut être toutefois décidée.
        Le site peut-être mis à jour. De la même façon, les mentions légales peuvent être modifiées
        à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus
        souvent possible afin d’en prendre connaissance.</p>

    <ul>
        <li>
            Services proposés
            <p>Le site a pour objet de fournir une information concernant l’ensemble des activités de la
                société.
                Zeste s’efforce de fournir sur le site des informations aussi précises que possible. Toutefois,
                il ne pourra être tenu responsable des omissions, des inexactitudes et des carences dans la
                mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces
                informations.
                Toutes les informations indiquées sur le site sont données à titre indicatif, et sont
                susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur ce site ne sont pas
                exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur
                mise en ligne.</p>
        
        </li>

        <li>
            Propriété Intellectuelle

            <p>Sauf mention contraire, la propriétaire du site est propriétaire des droits de propriété
                intellectuelle ou des droits d’usage des éléments accessibles sur le site.
                Crédits photos : Manon Thomines-Mora, Marine Lequen
                Toute reproduction, représentation, modification, publication, adaptation de tout ou partie
                des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf
                autorisation écrite préalable de notre part.
                Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient
                sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux
                dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
        </li>
    </ul>
</div>
