
.cgvContainer{
    width: 75%;
    margin: 70px auto auto auto;
    color: var(--darkGreen);
}

.cgvContainer h3{
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
}

.cgvContainer h5{
    font-size: 30px;
    margin-top: 50px;
}

.cgvContainer p{
    font-size: 24px;
    line-height: 150%;
}

.cgvContainer .title{
    font-size: 26px;
}

.cgvContainer li{
    font-size: 24px;
}

@media all and (max-width: 900px) {   
    .cgvContainer{
        width: 95%;
        margin: 70px auto auto auto;
        color: var(--darkGreen);
    }
    
    .cgvContainer h3{
        font-size: 30px;
        margin-bottom: 25px;
        text-align: center;
    }
    
    .cgvContainer h5{
        font-size: 26px;
        margin-top: 50px;
    }
    
    .cgvContainer p{
        font-size: 16px;
        line-height: 150%;
    }
    
    .cgvContainer .title{
        font-size: 20px;
    }
    
    .cgvContainer li{
        font-size: 16px;
    }
}
