<app-header [background]="background"></app-header>

<div class="cgvContainer">
    <h3>CONDITIONS GÉNÉRALES DE VENTE</h3>

    <h5>ARTICLE 1 – CHAMP D’APPLICATION</h5>
    <p>Les présentes conditions générales de vente (ci-après « CGV ») régissent la
        relation contractuelle entre
        d’une part, « Zeste - Manon Thomines-Mora, EI » (ci-après « le Prestataire »)
        dont l’activité est Restauration de type rapide (code NAF 5610C - n° Siret
        79836000400021) et dont le siège social est situé 57 rue Calmette 14120
        Mondeville, et,
        d’autre part, chaque client (ci-après le ou les « Client(s) ») passant
        commande.
        Le fait de passer commande vaut acceptation sans réserve des présentes
        CGV par le Client, à l’exclusion de toute autre condition, sauf accord préalable
        écrit de la part de « Zeste ».
        « Zeste » se réserve le droit d'adapter ou de modifier les présentes CGV à
        tout moment sans préavis. Ces modifications sont applicables et opposables
        au Client à compter de leur mise en ligne et s’appliquent à toute commande
        postérieure. Les présentes CGV sont communiquées sans délai à tout Client
        qui en fait la demande. Ces CGV pouvant faire l’objet de modifications
        ultérieures, la version applicable à l’achat du Client est celle en vigueur au
        jour de la conclusion du contrat.
        La nullité́ d’une clause contractuelle n’entraîne pas la nullité des présentes
        CGV. L’inapplication temporaire ou permanente d’une ou plusieurs clauses
        des CGV par le prestataire ne saurait valoir renonciation de sa part aux autres
        clauses qui continuent à produire leurs effets.</p>
    <h5>ARTICLE 2 – COMMANDE</h5>

        <ul>
            <li><p class="title">2.1 Devis</p>

                <p>Les devis sont établis gratuitement sauf information préalable et contraire en
                    amont.
                    Sauf mention particulière, le devis a une durée de validité de 14 jours. Passé
                    ce délai, la disponibilité ne pourra être garantie et le Prestataire se réserve la
                    possibilité de refuser d’exécuter une commande aux
                    prix et conditions portés au devis.</p>

            </li>
            <li><p class="title">2.2 Validation de la commande</p>

                <p>Les commandes doivent être passées au moins 7 jours ouvrés à l’avance par
                    mail à contact@zestecuisine
                    Un devis est proposé au client. Afin de valider la commande, le devis dûment
                    signé avec « bon pour accord » ainsi qu’un virement (justifié par l’avis de
                    
                    virement si besoin) d’un acompte de 50% du montant HT (Zeste n’étant pas
                    soumis à la TVA) du devis sont obligatoires.</p>

            </li>
            <li><p class="title">2.3 Indisponibilité des Produits</p>

                <p>Les produits présentés sur les devis de “Zeste” le sont sous réserve des
                    stocks disponibles.
                    Travaillant en direct avec des petits producteurs locaux, Zeste peut être
                    contraint de modifier sa carte ou menu. Le Client sera tenu informé dans les
                    meilleurs délais. En cas d’indisponibilité d’un produit objet de la commande, «
                    Zeste » se réserve le droit de le remplacer par un produit de même nature et
                    de valeur équivalente.</p>
            </li>
            <li><p class="title">2.4 Modification de la commande</p>

                <p>Les modifications de commande à la demande du client, peuvent être prises
                    en compte si elles interviennent au moins sept (7) jours ouvrés avant la date
                    de livraison de la commande, et si elles sont formulées par écrit. Les
                    modifications ne sont effectives qu’après acceptation écrite du Prestataire.
                    Les ajouts peuvent donner lieu à l’établissement d’un nouveau devis qui doit
                    être accepté par le client.
                    Le nombre définitif de convives sera arrêté lors de la signature du devis et
                    pourra être modifié au plus tard 7 jours ouvrés avant la date de l’événement. Il
                    correspondra au nombre minimum de convives qui sera facturé au Client sans
                    aucune possibilité de modification à la baisse.
                    La réservation n’est valable que pour la date, le lieu adéquat, le type de
                    prestation et le nombre de personnes, tel que prévu dans le devis régularisé
                    par les partis. Toute modification de l’un des éléments du devis peut entrainer
                    une modification des conditions tarifaires fixées par Zeste ou une annulation
                    de la prestation.</p>
            </li>
            <li><p class="title">2.5 Produits non fournis par le Prestataire</p>

                <p>En cas de présence sur le lieu de l’événement de produits, plats, ou toute
                    autre marchandise non fournie par le Prestataire, celui-ci ne sera pas tenu
                    d’en effectuer le service, le rangement, nettoyage ou d’en gérer les déchets à
                    défaut d’accord préalable et de facturation de la prestation.</p>
            </li>
            <li><p class="title">2.6 Cas spécifique du repérage en amont</p>
                <p>Un repérage des lieux par le Prestataire ou l'envoi de photos de la salle,
                    office, accès et parking par le Client peuvent être nécessaires voire
                    indispensables au bon déroulé de l’événement. En cas de demande du
                    Prestataire et sans réponse du Client ou impossibilité du Client de répondre
                    favorablement à une visite préalable, le Client assumera seul les éventuels
                    retards, problèmes d'accès, incompatibilité du matériel ou besoin non anticipé,
                    surcoût et modification de la prestation le cas échéant par le Prestataire qui
                    ne saura en être tenu responsable.</p>

            </li>
        </ul>

    <h5>ARTICLE 3 – LIVRAISON</h5>
    <p>La livraison de la commande interviendra à l’adresse de livraison indiquée par
        le Client lors de la commande et précisée sur le devis. Toutes les livraisons
        sont effectuées dans les délais indiqués sur le devis. Tout retard ou avance
        dans les délais de livraison ne peuvent donner lieu à dédommagement ou
        occasionner un non-paiement de la prestation.
        Si le Client n’est pas présent pour réceptionner la livraison des produits
        commandés à l’adresse indiquée lors de la commande, celle-ci sera reprise et
        le Prestataire facturera au Client la totalité de la prestation.
        Les frais de livraison sont définis selon une grille tarifaire qui varie selon la
        nature de l’évènement, l’adresse de livraison et le nombre de convives. Toute
        modification de l’adresse de livraison après signature du devis sera soumise à
        validation écrite et pourra donner lieu à des frais supplémentaires.</p>
    <h5>ARTICLE 4 – PRIX ET CONDITIONS DE PAIEMENT</h5>
    <p>Les prix indiqués sont en euros et en hors-taxe. « Zeste » n’est pas soumis à
        la TVA, dans le cadre de l’article 293-B du CGI (code général des impôts).
        Dans le cas où le régime fiscal viendrait à être modifié, nos tarifs seraient
        révisés en fonction de celui-ci.
        Les paiements ne sont considérés comme définitifs qu’après encaissement
        effectif des sommes dues par le Client. Une facture sera remise au Client sur
        simple demande. Le solde devra être réglé intégralement par le client au plus
        tard le jour de la prestation ou de la livraison.
        En cas de retard de paiement, il sera fait application d’intérêts de retard à un
        taux égal à trois fois le taux d’intérêt légal jusqu’au jour du règlement définitif.
        En outre, « Zeste » aura droit à une indemnité forfaitaire pour frais de
        recouvrement d’un montant de quarante (40) euros.
        En cas de règlement par le client avant la date de paiement figurant sur la
        facture ou dans un délai inférieur à celui mentionné aux présentes CGV,
        aucun n’escompte ne sera accordé.
        En cas de non-paiement d’une commande antérieure selon les conditions de
        paiement susmentionnés, le Prestataire pourra refuser une nouvelle
        commande tant que la situation n’est pas régularisée.
        La perte ou casse de vaisselle ou de matériel consigné sera facturée au
        client.</p>
    <h5>ARTICLE 5 – PRODUITS ET HYGIENE</h5>
    <p>Les produits sont à consommer le jour de la livraison, les produits frais sont à
        conserver entre 0° et 3° C jusqu’au moment de leur consommation. Certains
        
        produits contiennent des allergènes alimentaires, le lien suivant (source
        officielle) dresse la liste des allergènes :
        http://www.economie.gouv.fr/dgccrf/Publications/Vie-pratique/Fiches-pratiques
        /Allergene-alimentaire
        « Zeste » ne saura être tenue responsable en cas de conservation inadéquate
        des produits par le Client, une fois la livraison effectuée. Pour des raisons
        d’hygiène et de sécurité alimentaire, les marchandises ne seront ni reprises ni
        échangées.
        Les Services Vétérinaires et de la Répression des Fraudes obligent le
        prestataire, à l’issue de chaque prestation, à détruire et jeter tous les produits
        présentés aux consommateurs. En conséquence, « Zeste » ne saurait être
        tenu pour responsable au cas où le Client insisterait pour conserver et
        emporter tout produit restant lors d’une prestation. Les restes ne doivent pas
        être conservés et doivent être, le cas échéant, jetés à la poubelle à la fin de
        l’événement.</p>
    <h5>ARTICLE 6 – VENTE D’ALCOOL : réglementation, responsabilité et
        prévention</h5>
        <p>Conformément à l’article L.3342-1 du Code de la santé publique, « la vente
            des boissons alcooliques à des mineurs est interdite. L’offre de ces boissons à
            titre gratuit à des mineurs est également interdite dans les débits de boissons
            et tous commerces ou lieux publics. La personne qui délivre la boisson peut
            exiger du client qu’il établisse la preuve de sa majorité ». Aussi, « Zeste » se
            réserve le droit de demander une pièce d’identité et/ou de refuser de délivrer
            la commande d’alcool à toute personne qui semble avoir moins de dix-huit
            (18) ans ou qui est ou semble sous l’influence de l’alcool, de produits
            stupéfiants ou de médicaments.
            En passant une commande qui contient de l’alcool, le Client confirme qu’il est
            majeur. Il est en outre rappelé que la consommation de boissons alcoolisées
            pendant la grossesse, même à faibles doses, peut avoir des répercussions
            graves sur la santé de l’enfant.
            Plus généralement, l’abus d’alcool étant dangereux pour la santé, toute
            consommation doit être faite avec modération. Sauf en cas de faute prouvée
            de sa part, le Prestataire ne saurait en aucun cas être tenu pour responsable
            des éventuels dommages, de quelque nature que ce soit, tant matériels que
            corporels, qui pourraient résulter d’une utilisation non conforme ou abusive,
            par le Client ou une ou plusieurs personne(s) de son entourage, des boissons
            alcoolisées commandés et livrées. Le Prestataire ne saurait être tenu
            responsable pour la fourniture de boissons alcoolisées dans le cadre d’un
            
            événement professionnel en contradiction avec les dispositions du Code du
            travail et du règlement interne de l’entreprise, laquelle déclare et garantit en
            faire son affaire strictement personnelle et exclusive, sans recours, ni action à
            l’encontre du Prestataire. En effet, l’obligation de sécurité et de santé
            physique et mentale des employés incombe à l’employeur (en application des
            dispositions de l’article L.4121-1 du Code du travail) et aux salariés entre eux
            (article L.4122- 1 du même Code).</p>
    <h5>ARTICLE 7– DROIT DE RETRACTATION</h5>
    <p>Le droit de rétractation ne s’applique pas pour les produits périssables. Par
        conséquent, le Client ne dispose d’aucun droit de rétractation et ne peut
        revenir sur sa commande lorsqu’elle a été validée par « Zeste ».</p>
    <h5>ARTICLE 8 - POLITIQUE D’ANNULATION ET REMBOURSEMENT</h5>
        
        <ul>
            <li><p class="title">8.1 Annulation</p>

                <p>En cas d’annulation de la part du Client :
                    En cas d’annulation de la commande par le client, un pourcentage du montant
                    du devis sera conservé par Zeste à titre d’indemnité forfaitaire, afin de couvrir
                    les frais engendrés par Zeste (approvisionnement, préparation, transport...).
                    Si l’annulation a lieu :</p>

                <ul>
                    <li class="li"><p class="title">Plus de 10 (dix) jours ouvrés avant la date de l’événement, 30% du devis
                        sera conservé</p></li>
                    <li class="li"><p class="title">Moins de 10 (dix) jours ouvrés avant la date de l’événement, 50% du devis
                        sera conservé</p></li>
                    <li class="li"><p class="title">Moins de 5 (cinq) jours ouvrés avant la date de l’événement, 70% du devis
                        sera conservé</p></li>
                </ul>

                <p> À noter que certaines prestations nécessitant des précommandes spécifiques
                    telle que la réservation de matériel ou de personnel indispensables à la
                    réalisation de ladite prestation, des frais d’annulation spécifiques peuvent
                    s’appliquer.
                    En cas d’annulation de la part du Prestataire et sauf cas de force majeure, le
                    remboursement intégral de l’ensemble des sommes perçues sera effectué
                    dans les 45 jours suivant la réception des documents administratifs requis.</p>

            </li>

            <li><p class="title">8.2 Cas particulier d’annulation</p>
                Cas de force majeure
                Le Prestataire ne pourra pas être tenue responsable d’une éventuelle
                inexécution de ses obligations en cas de survenance d’un cas de force
                majeure, défini comme « un événement échappant au contrôle du débiteur,
                qui ne pouvait être raisonnablement prévu lors de la conclusion du contrat et
                dont les effets ne peuvent être évités par des mesures appropriées,
                
                empêchant ainsi l’exécution de son obligation par le débiteur». Dans une telle
                hypothèse, le Contrat sera suspendu jusqu’à disparition, extinction ou
                cessation du cas de force majeure. Toutefois, en cas d’impossibilité de
                réorganisation de la prestation ou de reprise de l’exécution du contrat dans un
                délai de trente jours à compter de la survenance du cas de force majeure,
                les Partis se rapprocheront afin de discuter d’une modification et d’un
                ajustement du contrat.

            </li>

        </ul>
        

    <h5>ARTICLE 9 - PARTICULARITE DE LA CONSIGNE</h5>
    <p>« Zeste » est un prestataire écoresponsable et utilise à chaque fois que cela
        est possible, du matériel réutilisable qui est par conséquent consigné.
        Le matériel consigné est signalé lors de la validation de la commande ou lors
        de la livraison (boites en plastiques ou en verre, thermos, vaisselle,... etc.). Un
        bon de consigne sera donné par le Prestataire au Client en échange d’un
        chèque de caution. Ce chèque de caution, non encaissé, sera rendu au Client
        une fois que le Prestataire aura récupéré tout le matériel consigné, dans l’état
        dans lequel il a été fourni.
        Sauf mention ou demande particulière, le Client les rapportera au laboratoire
        de « Zeste » propres sous 3 jours ouvrés suivant la livraison. En cas de
        non-restitution du matériel consigné, le matériel sera facturé au Client par
        unité manquant, frais de gestion en sus.</p>
    <h5>ARTICLE 10 – GARANTIES</h5>
    <p>« Zeste » s’engage à ce que les produits livrés soient conformes à la
        commande enregistrée. En cas de produit manquant, le Client devra informer
        « Zeste » lors de la livraison, à défaut de quoi aucune réclamation ne sera
        acceptée.
        En cas de produit non-conforme, le Client devra informer « Zeste » dans un
        délai raisonnable, avant la fin de la prestation et au plus tard dans les 24
        heures dans le cas d’une commande en livraison.</p>
    <h5>ARTICLE 11 – SERVICE APRES-VENTE</h5>
    <p>Pour toute question relative à l’exécution du contrat, le Client peut contacter «
        Zeste » au numéro suivant : 06 03 77 92 34 ou par email
        contact@zestecuisine.fr</p>
</div>
