

.presentation{
    width: 75%;
    margin: 0 auto 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

#presentationFeuillage{
    position: absolute;
    opacity: 0.15;
    right: -0px;
    top: 700px;
    width: 200px;
    height: 300px;
    overflow: hidden;   
}

#presentationFeuillage img{
    -ms-transform: rotate(-40deg); /* IE 9 */
    transform: rotate(-40deg);
    object-fit: cover;
    width: 300px;
    height: 400px;
}

#profilImg{
    width: 300px;
    border-radius: 50%;
    margin-right: 30px;
}

.description{
    display: flex;
    flex-direction: column;
}

.description .topLeft{
    text-align: left;
    margin-bottom: 20px;
}

.description .bottomRight{
    text-align: right;
    margin-top: 20px
}

.description .bottomRightText{
    text-align: right;
    margin-top: 20px;
    font-size: 30px;
    font-family: var(--sue);
    font-weight: 400;
}

.description i{
    color: var(--lightGreen);
    font-size: 50px;
}

.description p{
    font-family: var(--ralewayRegu);
    text-align: left;
    line-height: 175%;
    letter-spacing: 3px;
    font-size: 20px;
    color: var(--darkGreen);
}

/**
    Mes valeurs
**/

.valeurs{
    width: 75%;
    margin: 0 auto 100px auto;
    justify-content:space-between; ;
    align-items: center;
    background: var(--lightGreen);
    color: var(--white);
    display: flex;
    padding: 40px 60px;
    border-radius: 10px;
}

.valeurs p{
    font-size: 50px;
    text-align: center;
}

.valeurs .element{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.valeurs .element p{
    font-size: 50px;
}

.valeurs .title p{
    font-size: 60px;
    line-height: 120%;
}

.valeurs .title hr{
    background-color: var(--white);
    color: var(--white);
    height: 2px;
    border: none;   
}

.valeurs .element img{
    width: 300px;
    object-fit:cover;
    position: absolute;
    z-index: 5;
}

.valeurs .element:nth-child(1) img{
    transform: rotate(-25deg);
    opacity: 0.25;
}

.valeurs .element:nth-child(3) img
{
    transform: rotate(25deg);
    opacity: 0.25;
    object-fit:cover;
}

.valeurs .element:nth-child(4) img{
    padding-bottom: 60px;
}

.valeurs .element:nth-child(5) img{
    padding-bottom: 100px;
}

/**
    Prestations
**/
.prestations{
    display: flex;
    flex-direction: row;
    color: var(--white);
    text-align: center;
    position: relative; 
    overflow: hidden; 
    margin-bottom: 50px;
}

.prestations .element{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feuillageVertical{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: -50px;
    right: 0;
    top: 0;
    width: 192px;
}

.prestations .left{
    width: 100%;
    padding: 100px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0, 0.3),
        rgba(0,0,0, .3)
      ),url('/assets/img/prestations/prestation-prive.jpg'); 
    background-size: cover;
    height: 700px;
}

.prestations .right{
    width: 100%;
    padding: 100px 0;
    background-image:linear-gradient(
        to bottom,
        rgba(0,0,0, 0.3),
        rgba(0,0,0, .3)
      ), url('/assets/img/prestations/prestation-pro.jpg');   
    background-size: cover;
    height: 700px;
}

.prestations .element p{
    font-size: 100px;
    line-height: 100%;
    margin-bottom: 25px;
}

.listElement{
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
    padding-left: 0px !important;
}

.listElement li{
    margin: 0 20px;
    font-size: 35px;
}

.discover{
    background: var(--lightGreen);
    padding: 10px 40px;
    border-radius: 10px;
    font-family: var(--ralewayRegu);
    font-size: 25px;
    text-decoration: none !important;
    color: white !important;
}

.discover:hover{
    background-color: var(--darkGreen);
}

/********
    Card slider
**********/
.containerCarousel{
    padding: 10px 25px;
    width: 85%;
    margin: auto;
    position: relative;
    color: var(--darkGreen);
    overflow: hidden;
}
.carousel{
    font-size: 24px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;

}

.carousel .element{
    width: 33%;
    height: 400px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel .element a{
    text-align: center;
    text-decoration: none;
    color: var(--darkGreen);
    text-transform: uppercase;
    
}

.carousel .element img{
    height: 75%;
}

.carousel .element:nth-child(n2){
    background-color: red;
}

.arrowLeft{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 2;
    color: var(--darkGreen);
    font-size: 38px;
    cursor: pointer;
}

.arrowRight{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 2;
    color: var(--darkGreen);
    font-size: 38px;
    cursor: pointer;
}

/*************/

/*****
    Ou trouver Zeste ?
******/
.where{
    background: #B3C9A7;
}

.containerWhere{
    display: flex;
    padding: 20px;
}

.map{
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.map .container-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.map .container-img img{
    margin-bottom: 25px;
    margin: 0 100px;
}

.map .container-img img:nth-child(2){
    width: 25%;
    border: white solid 2px ;
}



.socialMedia{
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
    color: var(--white);
    text-align: right;
    font-size: 25px;
    line-height: 125%;
}

.socialMedia a{font-size: 55px; color: var(--white); padding: 15px;}

.map #text{
    color: var(--white);
    width:70%;
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
    line-height: 125%;
    margin-top: 30px;
}

.contact{
    font-size: 35px;
}

/**************/
@media all and (max-width: 1100px) {
    .valeurs{
        width: 85%;
        display: flex;
        padding: 20px 30px;
        justify-content:space-between; ;
        align-items: center;
        flex-wrap: wrap;
        flex: 50%;
        flex-direction: column;
    }

    
    .valeurs p{
        font-size: 30px;
        text-align: center;
    }

    .valeurs .title{
        margin-bottom: 25px;
        text-align: center;
    }

    .valeurs .element:nth-child(2) img{
        transform: rotate(-45deg);
    }
    
    .valeurs .element:nth-child(3) img
    {
        transform: rotate(-45deg);
    }
    
    .valeurs .element img{
        padding-bottom: 0px !important;
    }


    .prestations .element p{
        font-size: 50px;
    }

    .listElement li{
        margin: 0 10px;
        font-size: 35px;
    }

    .listElement{
        flex-direction: column;
        display: inherit;
    }

    .prestations .left{
        height: 650px;
    }
    
    .prestations .right{
        height: 650px;
    }

    .feuillageVertical{
        width: 167px;
    }


    .containerWhere{
        flex-direction: column;
    }
    .map{
        flex: 0 0 100%;
    }

    .map .container-img img{
        margin: 0 25px;
    }

    

    .place{
        flex: 0 0 100%;
    }

}

@media all and (max-width: 900px) {
    .presentation{
        width: 95%;
        flex-direction: column;
    }

    #presentationFeuillage{
        top: 950px; 
    }

    .description p{
        letter-spacing: 2px;
        font-size:16px;
    }

    .description .topLeft{
        margin-bottom:10px;
    }
    
    .description .bottomRight{
        margin-top: 10px;
    }

    #profilImg{
        margin-right: 0px;
    }

    .carousel{
        font-size: 20px;
        flex-direction: column;
    }

    .carousel .element{
        width: 100%;
    }

    .map .container-img img{
        margin-bottom: 25px;
        margin: 25px 0px;
    }

    .map .container-img{
        flex-direction: column;
    }

    .map .container-img img:nth-child(2){
        width: 55%;
    }

   
}

@media all and (max-width: 900px) {
    .valeurs{
        width: 75%;
    }

    .valeurs .element img{
        width: 0;
    }
}

@media all and (max-width: 600px) {   
    .prestations{
        flex-direction: column;
    }

    .feuillageVertical{
        position: absolute;
        transform: rotate(90deg);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 2.75%;
        margin: auto;
        width: 25%;
    }

    .listElement{
        margin-top: 50px;
    }

    .map img{
        width: 75%;
    }

    .map .container-img img:nth-child(2){
        width: 75%;
    }

    .socialMedia{
        justify-content: center;
        width: 95%;
        flex-direction: column;
        text-align: center;
    }

    .socialMedia .contact{
        margin-top: 15px;
    }

    .map #text{
        font-size: 25px;
    }
    
    .place #title{
        font-size: 35px;
    }

    .place .containerDate .element{
        flex: 0 0 100%;
        margin: 10px 10px;
        height: 100%;
        align-items: center; 
        justify-content: center;
    }

    .place .containerDate .element p{
        margin: auto;
    }

    .containerCarousel{
        width: 95%;
    }


}

@media all and (max-width: 400px) {   
    .feuillageVertical{
        bottom: 1.75% !important;
    }
}

