<app-header></app-header>


<!-- Présentation de Manon -->

<div id="presentationFeuillage" class="transition">
    <img src="assets/img/decoration/feuillage.png" alt="Décoration feuillage">
</div>

<section class="presentation transition">
    <img id="profilImg" src="assets/img/manon.jpg" alt="Photo de Manon THOMINES MORA">
    <div class="description">
        <i class="fa-solid fa-quote-left topLeft"></i>
        <br>
        <p>Cuisiner au rythme des saisons avec des produits normands est en même temps une contrainte 
            et un grand plaisir qui agite ma créativité. J’aime éveiller la curiosité et faire plaisir avec
             une cuisine qui régale tous les sens, gourmande, créative et colorée et qui respecte le vivant 
             et l’environnement
            
        </p>
        <p class="bottomRightText">Manon</p>
        <i class="fa-solid fa-quote-right bottomRight"></i>

    </div>
</section>


<!-- Les valeurs -->
<section class="valeurs transition">

    <div class="element transition">
        <img src="assets/img/valeurs/Fourchette.png" alt="Fourchette de décoration">
    </div>

    <p>Cuisine végétarienne, de saison, locale, majoritairement bio et en circuit court, entièrement faite maison et avec ♡</p>

    <div class="element transition">
        <img src="assets/img/valeurs/Couteau.png" alt="Couteau de décoration">
    </div>
        <!-- <div class="title">
            <p>Mes valeurs</p>
        </div>
   
        
        <div class="element transition">
            <img src="assets/img/valeurs/Salade blanc.png" alt="">
            <p> Valeur</p>
        </div> -->
</section>

<!-- Prestations -->

<section class="prestations">

    <div class="left element">
        <p class="transition">Prestations <br>privées</p>
        
        <ul class="listElement transition">
            <li>TRAITEUR</li>
            <li>FOODTRUCK</li>
            <li>BRUNCH</li>
        </ul>

        <!-- <a href="../prestations#prestationPrivee" class="discover transition"> Découvrir </a> -->
        <a routerLink="prestations" fragment="prestationPrivee" class="discover transition"> Découvrir </a>
    </div>

    
    <div class="right element">
        <img src="assets/img/prestations/feuillage vertical.png" alt="Feuillage vertical de séparation" class="feuillageVertical">

        <!-- <p class="transition">Prestations <br>professionnelles</p> -->
        <p class="transition">Prestations <br>professionnelles</p> 

        
        <ul class="listElement transition">
            <li>FOODTRUCK</li>
            <li>PLATEAUX REPAS</li>
            <li>COCKTAIL</li>
        </ul>

        <a routerLink="prestations" fragment="prestationPro" class="discover transition"> Découvrir </a>
    </div>

</section>

<!-- Partenaires -->
<div class="containerCarousel">

    <div class="arrowLeft" id="arrowLeft" >
        <i class="fa-solid fa-chevron-left" (click)="left()"></i>
    </div>

    <div class="carousel transition" id="carousel">
        <div class="element" [hidden]="reviewPage !== 0">
            <img src="assets/img/producteurs/cocotteNco.png" alt="Fournisseur : Cocotte and co">
            <a target="_blank"href="https://www.facebook.com/cocotteNco/">
                <p class="name"> Cocotte & co </p>
                <p class="job"> Oeufs </p>
            </a>
        </div>

        <div class="element" [hidden]="reviewPage !== 0">
            <img src="assets/img/producteurs/lecoeurdeschamps.png" alt="Fournisseur : Le coeur des champs" >
            <a target="_blank" href=" https://www.facebook.com/lecoeurdeschamps/">
                <p class="name"> Le Cœur des Champs </p>
                <p class="job"> lentilles pois chiches quinoa </p>
            </a>
        </div>

        <div class="element" [hidden]="reviewPage !== 0">
            <img src="assets/img/producteurs/lescerisesducafe.png" alt="Fournisseur : Les cerises du café">
            <a target="_blank" href="https://lescerisesducafe.com/">
                <p class="name"> Les Cerises du Café </p>
                <p class="job"> Café </p>
            </a>
        </div>

        <div class="element" [hidden]="reviewPage !== 1">
            <img src="assets/img/producteurs/lafalue.png" alt="Fournisseur : Scop La Falue">
            <a target="_blank" href="https://www.lafalue.fr/">
                <p class="name"> Scop La Falue </p>
                <p class="job"> Pains & Viennoiseries </p>
            </a>
        </div>

        <div class="element" [hidden]="reviewPage !== 1">
            <img src="assets/img/producteurs/lesvergersdeducy.png" alt="Fournisseur : Les vergers de Ducy">
            <a target="_blank" href="https://lesvergersdeducy.fr/">
                <p class="name"> Les Vergers de Ducy </p>
                <p class="job"> vinaigre de cidre jus de pomme </p>
            </a>
        </div>
        <div class="element" [hidden]="reviewPage !== 1">
            <img src="assets/img/producteurs/les-farines-de-la-touche.png" alt=" Fournisseur : Farine de la Touche" >
            <a target="_blank" href="https://ferme-de-la-touche.fr/les-farines-de-la-touche">
                <p class="name"> Farine de la Touche </p>
                <p class="job"> farines </p>
            </a>
        </div>

        <div class="element" [hidden]="reviewPage !== 2">
            <img src="assets/img/producteurs/lesjardinsdeskami.png" alt="Fournisseur : Jardins des Kami">
            <a target="_blank" href="https://www.facebook.com/lesjardinsdeskami/">
                <p class="name"> Jardins des Kami </p>
                <p class="job"> Légumes </p>
            </a>
        </div>

        <div class="element" [hidden]="reviewPage !== 2">
            <img src="assets/img/producteurs/lafermedelamoissonniere.png" alt="Fournisseur : Ferme de la Moissonnière">
            <a target="_blank" href="https://www.lafermedelamoissonniere.fr/">
                <p class="name"> Ferme de la Moissonnière </p>
                <p class="job"> huile de colza </p>
            </a>
        </div>

        <div class="element" [hidden]="reviewPage !== 2">
            <img src="assets/img/producteurs/lecoeurdeschamps.png" alt="Fournisseur : Petite ferme des béliers">
            <a target="_blank" href="https://www.facebook.com/lapetitefermedesbeliers/">
                <p class="name"> Petite ferme des béliers</p>
                <p class="job"> légumes petits fruits </p>
            </a>
        </div>



    </div>

    <div class="arrowRight" id="arrowRight"  id="contact">
        <i class="fa-solid fa-chevron-right" (click)="right()"></i>
    </div>   
</div>

<!-- Ou trouver Zeste -->

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#B3C9A7" fill-opacity="1" d="M0,160L48,165.3C96,171,192,181,288,202.7C384,224,480,256,576,250.7C672,245,768,203,864,192C960,181,1056,203,1152,224C1248,245,1344,267,1392,277.3L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>

<section class="where">
    <div class="containerWhere">

        <div class="map">
            <div class="container-img">
                <img src="assets/img/where/calvados.png" alt="Calvados avec la position de Zeste, cuisine du Jardin">
                <img src="assets/img/where/foodtruck.jpg" alt="Foodtruck eco-responsable">
            </div>
          
            <p id="text">Découvrez mes créations sur Instagram et Facebook <br> N’hésitez pas à me contacter pour vos projets gourmands et responsables en Normandie.</p>

            <div class="socialMedia">
                <div class="social">
                    <a href="https://www.instagram.com/zestecuisine/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.facebook.com/zestecuisine" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                </div>
                <div class="contact" >
                    <p>contact@zestecuisine.fr</p>
                    <p> 06 03 77 94 32 </p>
                </div>
            </div>
        </div>
    </div>
</section>

<svg style="transform: rotate(180deg)" viewBox="0 0 1440 320"><path fill="#B3C9A7" fill-opacity="1" d="M0,160L48,165.3C96,171,192,181,288,202.7C384,224,480,256,576,250.7C672,245,768,203,864,192C960,181,1056,203,1152,224C1248,245,1344,267,1392,277.3L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>

<section class="instagram" style="margin: auto; width: 75%;">
    
    <div class="elfsight-app-472766c0-34c1-4df3-b490-b80f935c60fe"></div> 
</section>

<app-footer></app-footer>
